<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HolidaySearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A92C8A4C1E8303B100A85235</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A92C8A601E8303B200A85235</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A92C8A6B1E8303B200A85235</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
